

<h1>Livros</h1>

<%=link_to "Cadastrar livro", new_book_path, class:'btn btn-primary'%><br>

<p><strong>Usuário logado:</strong> <%= current_user.email %></p>

<%= form_tag '#', method:'get', class: 'searchformclass'  do %>
  <%= label_tag("q[name_cont]", "Nome do Livro")%>
  <%= text_field_tag("q[name_cont]")%>
  <%= link_to 'Pesquisar', "#", class:'searchbook btn btn-primary' %>
  <%= link_to 'Limpar', "#" , class:' reloadbutton btn btn-primary' %>
<%end%><br>

<div id="ajaxtable">
</div>

<td><%= render 'layouts/modal'%></td>
