<article>

<%= render 'navbar'%>

   

</article>

<table class="table caption-top">
  <caption>Detalhes do Livro</caption>
  <thead>
    <tr>
      <th scope="col">Nome do livro</th>
      <th scope="col">Nome do Autor </th>
      <th scope="col">Sinopse</th>
      <th scope="col">Categoria</th>
      <th scope="col">Data de Cadastro</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td><%=@book.name%></td>
      <td><%=@book.author%></td>
      <td><%=@book.synopsis%></td>
      <td><%=@book.category.categoriename%></td>
      <td><%=@book.created_at.strftime("%d/%m/%Y")%></td>
    </tr>
    
  </tbody>
</table>

