<article>
<header>
<h1><%= @book.name %></h1>
</header>

<h2>Nome do livro</h2>
    <p>
    <%= @book.name %>
    </p>

<h3>Nome do Autor </h3>
    <p>
    <%= @book.author %>
    </p>

<h3>Sinopse</h3>
    <p>
    <%= @book.synopsis %>
    </p>

<h3>Data de Cadastro</h3>
    <p>
    <%= @book.created_at %>
    </p>       

</article>