<body class="bodylogin">



  <div class="formlogin">
    <div class="loginnamescreen">
      <p>Login Bibliotech</p>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    label: 'Email',
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email", class:"forminput" } %>
        <%= f.input :password,
                    label: 'Senha',
                    required: false,
                    input_html: { autocomplete: "current-password", class:"forminput" } %>
        <%= f.input :remember_me,label: 'Lembrar meu dados', as: :boolean if devise_mapping.rememberable? %><br>
      </div>
      
      <%= f.button :submit, "Entrar", class: "formbutton" %>
    
    <% end %><br>
    <%= render "devise/shared/links" %>
  </div>
</body>

