<!DOCTYPE html>

<html>

  <head>
    <title>Bibliotech</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application' %>
  </head>
  
  <body>
    <%= render partial: '/books/navbar'%>
    <div class="container">
    <%= flash_messages %>
    <%= yield %>
    </div>
    <%= insert_paloma_hook %>
  </body>

</html>
